
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2 style="color: red">You are not authorized to use this application. Please contact the system administrator if you need to access this application
 </h2>
</body>
</html>
